.type{
    position: relative;
    color: black;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    width: 100px;
    border-style: solid;
    left:0.5em;
    top:0.5em;
    border-radius: 10px;

}
#type_Bug{
    background-color: darkolivegreen;
    border-color: forestgreen;
}
#type_Dragon{
    background-color: mediumslateblue;
    border-color: cadetblue;
}
#type_Dark{
    background-color: #262426;
    border-color: #828282;
    text : white;
}
#type_Electric{
    background-color: yellow;
    border-color: orange;
}
#type_Fairy{
    background-color:#fc9cff;
    border-color: #fecfff;
}
#type_Fighting{
    background-color:#d48013;
    border-color: #9e6a26;
}
#type_Fire{
    background-color: red;
    border-color: darkred;
}

#type_Flying{
    background-color:#a8d9e6;
    border-color: #75e2ff;
}

#type_Ghost{
    background-color:#5c1b75;
    border-color: #400357;
}

#type_Grass{
    background-color: greenyellow;
    border-color: green;
}

#type_Ground{
    background-color: #d1af73;
    border-color: #9c7f4e;
}

#type_Ice{
    background-color: #b5fff9;
    border-color: #54fff1;
}

#type_Normal{
    background-color: #a9b0af;
    border-color: #7a7a7a;
}

#type_Poison{
    background-color: #9029ff;
    border-color: #7c44b8;
}

#type_Psychic{
    background-color: #de5fb6;
    border-color: #f2a7db;
}

#type_Rock{
    background-color: #8c6c31;
    border-color: #573902;
}
#type_Steel{
    background-color:#e6e5d8;
    border-color: #c2c2c2;
}

#type_Water{
    background-color: #00a2ff;
    border-color: #0a44cc;
}

.card1{
    width: 100px;
    height:160px;
    border-radius: 15px;
    margin: 10px;
    box-shadow:10px 10px 30px black;
    border-style: solid;
    border-width: 7px;
}

#card_Bug{
    border-color:#8cb388;

}
#card_Dragon{
    border-color: #d8bae3;
}
#card_Drak{
    border-color: #474747;
}
#card_Electric{
    border-color: #fafab9;
}
#card_Fighting{
    border-color: #9e6a26;
}
#card_Fire{
    border-color: red;

}
#card_Fairy{
    border-color: #FC98D3;
}

#card_Flying{
    border-color: #75e2ff;
}

#card_Ghost{
    border-color: #400357;
}

#card_Grass{
    border-color: green;
}


#card_Ground{
    border-color: #9c7f4e;
}

#card_Ice{
    border-color: #54fff1;
}

#card_Normal{
    border-color: #7a7a7a;
}

#card_Poison{
    border-color: #7c44b8;
}

#card_Psychic{
    border-color: #f2a7db;
}

#card_Rock{
    border-color: #573902;
}

#card_Steel{
    border-color: #cccccc;
}

#card_Water{
    border-color: #0a44cc;
}

