li a {
  text-decoration: none;
  color: #2d2f31;
}
ul {
  list-style-type: none;
}
.navFilt {
  width: 300px;
  background: black;
  margin: 40px auto;
}

.Filtering::after {
  float: right;
  right: 10%;
}
.Filtering {
  padding: 10px;
  background: #2d2f31;
  color: white;
  font-size: 1.2em;
  font-variant: small-caps;
  cursor: pointer;
  display: block;
}
/* début source : https://mdbootstrap.com/docs/b4/jquery/tables/scroll/ */
.my-custom-scrollbar {
  position: relative;
  height: 400px;
  overflow: auto;
  font-size: 12px;
  margin: auto;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(245, 245, 245, 0.7);
}
.table-wrapper-scroll-y {
  display: block;
}
/* fin source */
.slide {
  background: white;
  width: 30%;
  height: 0px;
  overflow: hidden;
  text-align: left;
  transition: height 0.2s ease;
  position: absolute;
  z-index: 5;
}
.slick-prev:before {
  color: red;
}
.slick-next:before {
  color: red;
}
li a.filterType {
  background-color: transparent;
}
a.filterType {
  color: white;
}
.slide li {
  padding: 10px;
}

#touch {
  height: 0px;
  position: absolute;
  z-index: 5;
}

#touch:checked + .slide {
  height: 27%;
  position: absolute;
  z-index: 5;
}
.card1 {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  size: 22%;
  width: 22%;
  height: 22%;
  border-radius: 15px;
  margin: 10px;
}
.figure2 {
  padding: 0 25% 0 25%;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.card1:hover {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1.09);
}
.card1:hover > .figure2 {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1.7);
}

.nav-link {
  transition: all 0.5s ease;
}
.nav-link:hover {
  transition: all 0.5s ease;
}
